{% extends 'layout.html' %}
{% load tailwind_filters %}

{% block title %}
Form 
{% endblock %}

{% block body %}
<script src="https://cdn.tailwindcss.com"></script>
<button onclick="window.location.href = `{% url 'main' %}`" class="bg-black hover:bg-blue-600 text-white font-semibold py-4 px-8 rounded">Go Back <--</button>
<form method="post" class="card" style="margin-top:10%">
{% csrf_token %}
<table>
{{form | crispy}}
</table>
<input type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">   
</form>

{% endblock %}